<!-- start custom footer snippets -->

<!-- end custom footer snippets -->

<div class="feature__wrapper" style="width: 100%; font-size:14px; border-bottom: 0">
  <div class="feature__item">
    <strong>Bürgerverein Kirchzarten-Burg e.V.</strong>

    <p>
      Geschäftsstelle: <br />
      Höllentalstraße 56 <br />
      79199 Kirchzarten
    </p>
  </div>

  <div class="feature__item">&nbsp</div>

  <div class="feature__item">
    <ul style="list-style: none;">
      <li><a href="/impressum">Impressum</a></li>
      <li><a href="/">Datenschutz</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </div>
</div>